
@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}


*{
  font-family: 'Passio';
  font-weight: bold;
}


.map{
  margin-top: 10vh;
  border: 3px solid black;
}



.details {
  display: none;
}

.Popup:hover .details {
  display: block;
}

.mapboxgl-popup-content{
  background-color: blue;
}

form{
  height: calc(75vh - 200px);
  overflow-y: auto;
}
